h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: black;
    background-color: palegoldenrod;
    width: 260px;
}

ul li{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue;

}